<style>

    .empresa{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        top: -20px;
        left: 50px;
        font-size: 35px;
        font-weight: 700;
        color:rgb(54, 11, 247) ;
    }

    .fight{
        position: absolute;
        font-family: sans-serif;
        text-align: center;
        top: 100px;
        left: 150px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 40px;
        font-weight: 700;
    }

    .why{
        position: absolute;
        font-family: sans-serif;
        text-align: center;
        top: 600px;
        left: 150px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 40px;
        font-weight: 700;
    }

    .descripcion1{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        top: 700px;
        left: 150px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 20px;
    }

    .descripcion2{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        top: 250px;
        left: 150px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 20px;
    }


    .database{
        position: absolute;
        font-family:Helvetica;
        text-align: left;
        left: 700px;
    }

    .education{
        position: absolute;
        font-family:Helvetica;
        text-align: left;
        left: 850px;
    }

    .news{
        position: absolute;
        font-family:Helvetica;
        text-align: left;
        left: 1000px;
    }

    .regulation{
        position: absolute;
        font-family:Helvetica;
        text-align: left;
        left: 1150px;
    }

    .hoaxbuster{
        position: absolute;
        font-family:Helvetica;
        text-align: left;
        left: 1322.5px;
        color: white;
    }

    .submit{
        position: absolute;
        font-family:Helvetica;
        top: 495px;
        width: 120px;
        height: 40px;
        left: 935px;
        color: white;
    }

    .vaccinetype{
        position: absolute;
        font-family:Helvetica;
        top: 475px;
        width: 120px;
        height: 40px;
        left: 700px;
        color: rgb(23, 5, 104);
        font-size: 15px;
    }

    .moderna{
        position: absolute;
        font-family:Helvetica;
        top: 500px;
        width: 120px;
        height: 40px;
        left: 710px;
        color: rgb(23, 5, 104);
        font-size: 15px;
    }

    .july{
        position: absolute;
        font-family:Helvetica;
        top: 500px;
        width: 120px;
        height: 40px;
        left: 475px;
        color: rgb(23, 5, 104);
        font-size: 15px;
    }

    .date{
        position: absolute;
        font-family:Helvetica;
        top: 475px;
        width: 120px;
        height: 40px;
        left: 475px;
        color: rgb(23, 5, 104);
        font-size: 15px;
    }


    .location{
        position: absolute;
        font-family:Helvetica;
        top: 475px;
        width: 120px;
        height: 40px;
        left: 235px;
        color: rgb(23, 5, 104);
        font-size: 15px;
    }

    .jakarta{
        position: absolute;
        font-family:Helvetica;
        top: 500px;
        width: 120px;
        height: 40px;
        left: 220px;
        color: rgb(23, 5, 104);
        font-size: 15px;
    }


    div{
        
        width: 100%;
        height: 100%;
        background: black;
    }

    .contenedor{
        display:flex;
        align-items: center;
        

    }

    .acomodar{
        position: absolute;
        top: 100%;
        


    }

    
    .header{
        width: 50%;
        height: 50%;
        top: 0px;
        left: 50%;
        background-color: white;
        transform: 50%;
    }

    .fondo1{
        top: 100px;
        width: 50%;
        height: 500px;
        right: 50%;
        left: 0%;
        background-image: url("https://besthqwallpapers.com/Uploads/29-10-2019/109574/thumb2-blue-abstraction-blue-mosaic-background-creative-blue-background-blue-rhombuses-texture-geometric-backgrounds.jpg");
        opacity: .09;
        transform: 50%;
    }

    .c3{
        top: 100px;
        width: 50%;
        height: 500px;
        left: 50%;
        right: 0%;
        background-image: url("https://www.provokemedia.com/images/default-source/default-album/vaccine88f0a54a918367d3ac1bff0000c9ebb1.jpg");
        transform: 50%;
    }

    .c4{
        
        top: 600px;
        width: 100%;
        height: 700px;
        left: 0%;
        background-color: rgb(249, 250, 245);
        transform: 50%;
    }

    .c5{
        
        top: 1300px;
        width: 100%;
        height: 500px;
        right: 50%;
        background-image: url("https://www.timeoutriyadh.com/cloud/timeoutriyadh/2021/12/09/b57MnazU-Vaccine-800x600.jpg");
        transform: 50%;
    }

    .c6{
        top: 1300px;
        width: 50%;
        height: 500px;
        left: 50%;
        background-color: rgb(249, 250, 245);
        transform: 50%;
    }

    .cuadropreparations{
        top: 1800px;
        width: 100%;
        height: 500px;
        right: 50%;
        background-color: rgb(249, 250, 245);
        transform: 50%;
    }

    .c8{
        top: 1800px;
        width: 50%;
        height: 500px;
        left: 50%;
        background-image: url("https://www.aafp.org/dam/brand/aafp/news/2021-august/mmwr-covid-vaccines800.jpg");
        transform: 50%;
    }

    
    .botonhoaxbuster{
        position: relative;
        top: 0px;
        width: 120px;
        height: 40px;
        left: 1300px;
        background-color: rgb(54, 11, 247);
    }

    .cuadrosubmit{
        position: absolute;
        top: 470px;
        width: 1000px;
        height: 100px;
        right: 400px;
        background-color: rgba(240, 239, 245, 0.425);
        opacity: .05px;
    }

    .botonsubmit{
        position: absolute;
        top: 500px;
        width: 120px;
        height: 40px;
        left: 900px;
        background-color: rgb(55, 16, 224);
    }


    .cuadrovaccinetype{
        position: absolute;
        top: 485px;
        width: 20px;
        height: 20px;
        left: 670px;
        background-color: black;
    }

    .cuadrodate{
        position: absolute;
        top: 485px;
        width: 20px;
        height: 20px;
        left: 445px;
        background-color: black;
    }

    .cuadrolocation{
        position: absolute;
        top: 485px;
        width: 20px;
        height: 20px;
        left: 205px;
        background-color: black;
    }

    .logominimize{
        position: absolute;
        top: 950px;
        width: 40px;
        height: 40px;
        left: 80px;
        background-color: rgb(90, 89, 95);
    }

    .logoforming{
        position: absolute;
        top: 950px;
        width: 40px;
        height: 40px;
        left: 450px;
        background-color: rgb(90, 89, 95);
    }

    .logoprotecting{
        position: absolute;
        top: 950px;
        width: 40px;
        height: 40px;
        left: 825px;
        background-color: rgb(90, 89, 95);
    }

    .logoprocreating{
        position: absolute;
        top: 950px;
        width: 40px;
        height: 40px;
        left: 1200px;
        background-color: rgb(90, 89, 95);
    }

    .minimize{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        top: 1000px;
        left: 82.5px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 15px;
    }

    .minimizetexto{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        top: 1060px;
        left: 82.5px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 12px;
    }

    .forming{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        top: 1000px;
        left: 450px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 15px;
    }

    .formingtexto{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        top: 1060px;
        left: 450px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 12px;
    }

    .protectingtitulo{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        top: 1000px;
        left: 825px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 15px;
    }

    .protectingtexto{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        top: 1060px;
        left: 825px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 12px;
    }

    .creatingtitulo{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        top: 1000px;
        left: 1200px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 15px;
    }

    .creatingtexto{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        top: 1060px;
        left: 1200px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 12px;
    }

    .preparationstitulo{
        position: absolute;
        font-family: sans-serif;
        top: 1300px;
        left: 800px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 40px;
        font-weight: 700;
    }


    .descripcion3{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        top: 1400px;
        left: 800px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 20px;
    }

    .logoavoidalc{
        position: absolute;
        top: 1550px;
        width: 15px;
        height: 15px;
        left: 800px;
        background-color: rgb(90, 89, 95);
    }

    .avoidalc{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        top: 1525px;
        left: 825px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 20px;
    }

    .logoavoidstr{
        position: absolute;
        top: 1600px;
        width: 15px;
        height: 15px;
        left: 800px;
        background-color: rgb(90, 89, 95);
    }

    .avoidstr{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        top: 1575px;
        left: 825px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 20px;
    }

    .logoeat{
        position: absolute;
        top: 1650px;
        width: 15px;
        height: 15px;
        left: 800px;
        background-color: rgb(90, 89, 95);
    }

    .eat{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        top: 1625px;
        left: 825px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 20px;
    }

    .logoget{
        position: absolute;
        top: 1550px;
        width: 15px;
        height: 15px;
        left: 1200px;
        background-color: rgb(90, 89, 95);
    }

    .get{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        top: 1525px;
        left: 1225px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 20px;
    }

    .logoexercise{
        position: absolute;
        top: 1600px;
        width: 15px;
        height: 15px;
        left: 1200px;
        background-color: rgb(90, 89, 95);
    }

    .exercise{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        top: 1575px;
        left: 1225px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 20px;
    }

    .emergencytitulo{
        position: absolute;
        font-family: sans-serif;
        top: 1800px;
        left: 100px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 40px;
        font-weight: 700;
    }

    .descripcion4{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        top: 1900px;
        left: 100px;
        color: rgb(23, 5, 104);
        text-align: left;
        font-size: 20px;
    }

    .imagencall{
        position: absolute;
        top: 2000px;
        width: 40px;
        height: 40px;
        left: 100px;
        background-color: rgba(179, 179, 194, 0.425);
        opacity: .05px;
    }
    .titulocall{
        position: absolute;
        top: 1980px;
        left: 150px;
        text-align: left;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    .botoncallnow{
        position: absolute;
        top: 2045px;
        left: 155px;
        text-align: left;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }

    .numerocallnow{
        position: absolute;
        top: 2020px;
        left: 145px;
        text-align: left;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
    }



    .botoncall{
        position: absolute;
        top: 2050px;
        width: 180px;
        height: 40px;
        left: 100px;
        background-color: rgba(179, 179, 194, 0.425);
        opacity: .05px;
    }

    .imagenchat{
        position: absolute;
        top: 2000px;
        width: 40px;
        height: 40px;
        left: 400px;
        background-color: rgba(179, 179, 194, 0.425);
        opacity: .05px;
    }

    .titulochat{
        position: absolute;
        top: 1980px;
        left: 460px;
        text-align: left;
        font-size: 20px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }


    .botonchat{
        position: absolute;
        top: 2050px;
        width: 180px;
        height: 40px;
        left: 400px;
        background-color: rgba(179, 179, 194, 0.425);
        opacity: .05px;
    }

    .botonchatnow{
        position: absolute;
        top: 2045px;
        left: 440px;
        text-align: left;
        font-size: 15px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }

    .numerochatnow{
        position: absolute;
        top: 2020px;
        left: 450px;
        text-align: left;
        font-size: 10px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }

    .imagenvideocall{
        position: absolute;
        top: 2150px;
        width: 40px;
        height: 40px;
        left: 100px;
        background-color: rgba(179, 179, 194, 0.425);
        opacity: .05px;
    }

    .titulovideocall{
        position: absolute;
        top: 2130px;
        left: 150px;
        text-align: left;
        font-size: 20px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }

    .botonvideocall{
        position: absolute;
        top: 2200px;
        width: 180px;
        height: 40px;
        left: 100px;
        background-color: rgba(179, 179, 194, 0.425);
        
    }

    .botonvideocallnow{
        position: absolute;
        top: 2195px;
        width: 180px;
        height: 40px;
        left: 132.5px;
        font-size: 15px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;;
    }

    .numerovideocallnow{
        position: absolute;
        top: 2170px;
        left: 150px;
        text-align: left;
        font-size: 10px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }

    

    .imagenmessage{
        position: absolute;
        top: 2150px;
        width: 40px;
        height: 40px;
        left: 400px;
        background-color: rgba(179, 179, 194, 0.425);
        opacity: .05px;
    }

    .titulomessage{
        position: absolute;
        top: 2130px;
        left: 450px;
        text-align: left;
        font-size: 20px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }

    .botonmessage{
        position: absolute;
        top: 2200px;
        width: 180px;
        height: 40px;
        left: 400px;
        background-color: rgba(179, 179, 194, 0.425);
        opacity: .05px;
    }

    .botonmessagenow{
        position: absolute;
        top: 2195px;
        left: 440px;
        text-align: left;
        font-size: 15px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }

    .numeromessagenow{
        position: absolute;
        top: 2170px;
        left: 450px;
        text-align: left;
        font-size: 10px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }





    .c13{
        position: absolute;
        top: 850px;
        width: 300px;
        height: 400px;
       right: 1170px;
        background-color: rgba(92, 88, 88, 0.11);
    }

    .c14{
        position: absolute;
        top: 850px;
        width: 300px;
        height: 400px;
       right:800px;
        background-color: rgba(92, 88, 88, 0.11);
        opacity: .8;
    }

    .c15{
        position: absolute;
        top: 850px;
        width: 300px;
        height: 400px;
       right: 425px;
        background-color: rgba(92, 88, 88, 0.11);
    }

    .c16{
        position: absolute;
        top: 850px;
        width: 300px;
        height: 400px;
       right: 50px;
        background-color: rgba(92, 88, 88, 0.11);
    }

    .footer{
        width: 100%;
        height: 100px;
        top: 2300px;
        left: 0px;
        background-color: rgba(179, 179, 194, 0.425);
        opacity: .05px;
    }

    .logofooter{
        position: absolute;
        top: 2300px;
        left: 30px;
        text-align: left;
        font-size: 30px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }

    .descripcionfooter{
        position: absolute;
        top: 2325px;
        left: 200px;
        text-align: left;
        font-size: 10px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }

    .aboutus{
        position: absolute;
        top: 2320px;
        left: 1002.5px;
        text-align: left;
        font-size: 10px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
         
    }

    .features{
        position: absolute;
        top: 2340px;
        left: 1002.5px;
        text-align: left;
        font-size: 10px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif; 
    }

    .newsblogs{
        position: absolute;
        top: 2360px;
        left: 1002.5px;
        text-align: left;
        font-size: 10px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }

    .aboutfooter{

        position: absolute;
        top: 2290px;
        left: 1000px;
        text-align: left;
        font-size: 15px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
        font-style: bold;
        font-weight: bold;
    }

    .companyfooter{

        position: absolute;
        top: 2290px;
        left: 1200px;
        text-align: left;
        font-size: 15px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
        font-style: bold;
        font-weight: bold;
    }

    .supportfooter{
        position: absolute;
        top: 2290px;
        left: 1400px;
        text-align: left;
        font-size: 15px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
        font-style: bold;
        font-weight: bold;
    }

    .howwework{
        position: absolute;
        top: 2320px;
        left: 1200px;
        text-align: left;
        font-size: 10px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }

    .capital{
        position: absolute;
        top: 2340px;
        left: 1200px;
        text-align: left;
        font-size: 10px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }

    .security{
        position: absolute;
        top: 2360px;
        left: 1200px;
        text-align: left;
        font-size: 10px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }

    .faqs{
        position: absolute;
        top: 2320px;
        left: 1400px;
        text-align: left;
        font-size: 10px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }

    .supportcenter{
        position: absolute;
        top: 2340px;
        left: 1400px;
        text-align: left;
        font-size: 10px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }

    .contactus{
        position: absolute;
        top: 2360px;
        left: 1400px;
        text-align: left;
        font-size: 10px;
        color: rgb(23, 5, 104);
        font-family: Arial, Helvetica, sans-serif;
    }













</style>